$color-black: #2d2d2d;

$color-primary: #108888;
$color-primary-lighter: #24afaf;
$color-primary-transparent: #1088886b;

$color-secondary: #7b73d3;
$color-secondary-transparent: #7b73d383;
$color-dark-purple: #322f56;
$color-dark-purple-transparent: #3e3a72a3;
$color-background: #daeded;