
/* 
==========================================================================
   SIZES
========================================================================== 
*/

$height-header: 3rem;
$scrollbar-width: .5rem;


/*
==========================================================================
   BREAKPOINTS
========================================================================== 
*/

$breakpoint-xl: 1440px;
$breakpoint-lg: 1216px;
$breakpoint-hg: 1000px;
$breakpoint-md: 769px;
$breakpoint-sm: 480px;
$breakpoint-xs: 320px;