.templates-home-page {
  @include max($breakpoint-hg) {
    display: grid;
    gap: 1rem;

    .full-screen {
      width: 100%;
      min-height: 100vh;
      box-sizing: border-box;
      padding: $height-header;

    }
  }


  @include min($breakpoint-hg) {
    height: 100%;

    section:not(.first) {
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
    }

    .full-screen {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-top: $height-header;
      box-sizing: border-box;
    }

  }

}